{{- /* Overridden from PaperMod to add right sidebar */ -}}
<!DOCTYPE html>
{{- $theme := site.Params.defaultTheme | default "auto" }}
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}" data-theme="{{ $theme }}">

<head>
    {{- partial "head.html" . }}
</head>

{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) }}
<body class="list" id="top">
{{- else }}
<body id="top">
{{- end }}
    {{ partialCached "header.html" . .Page -}}
    <div class="page-wrapper">
        <main class="main">
            {{- block "main" . }}{{ end }}
        </main>
        {{ partial "sidebar.html" . }}
    </div>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
